body{
    background-color:rgb(213, 222, 230);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.start, .pause,.reset{ 
    padding: 1.1em;
    border-radius: 30%;
    margin: 20px 10px;
    cursor: pointer;
    width: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.1em;
    text-align: center;
}
.start{
    background-color: green;
    color: white;
    box-shadow: -3px -3px 5px black;
}
.pause{
    background-color: yellow;
    color: black;
   box-shadow:  3px -3px 5px black;
}
.reset{
    background-color: red;
    color: white;
    box-shadow:  3px -3px 5px black;
}